
@use 'base/mixins' as m;
@use 'base/variables' as v;

.beneficios {
    background-color: v.$primario;

    .beneficios-grid {
        @include m.tablet { 
            @include m.grid(5, 4rem);
            align-items: center;
        }
    }
    .beneficios-texto {
        grid-column: 1 / 4;
        h2 {
            @include m.headingBorder (v.$secundario, v.$blanco)
        }
    }

    .beneficios-imagen {
        grid-column: 4 / 6;
        transition-property: rotate scale;
        transition-duration: 500ms;
        &:hover {
            transform: rotate(-8deg) scale(1.1);
        }
    }
}